<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<center><h1>Your Personal Assistant </h1></center>
<div class="boxed">
    <div>
        <div id="chatbox">
            <img
                    src="https://user-images.githubusercontent.com/20112458/49326597-773b7280-f57a-11e8-853d-20ed61d18b0d.png"
                    alt="CANDICE"
                    style="width:40px;height:40px;margin-left:-10%;margin-top: 20px;"
            />
            <h4><span>Hi! I'm your personal  assistant on COVID-19. ❤ You can ask me like this:<br>What is COVID-19?<br>What are the symptoms of COVID-19?<br>Where can I get tested for COVID-19?</span>
            </h4>
        </div>
        <img
                    src="https://user-images.githubusercontent.com/20112458/49326597-773b7280-f57a-11e8-853d-20ed61d18b0d.png"
                    alt="CANDICE"
                    style="width:40px;height:40px;margin-left:92%;margin-top: -18%;"
            />
        <div id="userInput">
            <input id="textInput" type="text" name="msg" placeholder="What is COVID-19?">
            <input id="buttonInput" type="submit" value="Send">

        </div>
    </div>
    <script>
        function getBotResponse() {
            var rawText = $("#textInput").val();
            var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
            $("#textInput").val("");
            $("#chatbox").append(userHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
            $.get("/get", {msg: rawText}).done(function (data) {
                var botHtml = '<p class="botText">' + data + '</p>';
                $("#chatbox").append(botHtml);
                document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
            });
        }

        $("#textInput").keypress(function (e) {
            if (e.which == 13) {
                getBotResponse();
            }
        });
        $("#buttonInput").click(function () {
            getBotResponse();
        })
    </script>
</div>
</body>
</html>