body {
    font-family: Garamond;
}

/*顶部居中*/
h1 {
    top: 0;
    position: fixed;
    margin-left: -14cm;
    left: 50%;

    color: black;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 2em;
    padding: 10px;
    width: 70%;
    background-color: white;
    display: inline-block;
    border-bottom: white 0.1px solid;
}

/*h1 {*/
/*    background-color: yellow;*/
/*    display: inline-block;*/
/*    font-size: 2em;*/
/*    margin: 0;*/
/*    padding: 10px;*/
/*}*/

h3 {
    color: black;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
}
.PA{
    margin-left: 2.6%;
    margin-top: 20px;
    color: #565656;
    font-size: 13px;
    letter-spacing: normal;
    font-family: Metropolis,"Avenir Next","Helvetica Neue",Arial,sans-serif;
}
h4 {
    margin-top: -70px;
    color: black;
    font-family: monospace;
    font-weight: normal;
    width: 90%;
    font-size: 15px;
    text-align: left;
    line-height: 22px;
    padding: 8px;
    border-radius: 4px;
    background-color: #d9e8fd;
    border: 1px solid #bcd9fc;
}

/*.box {*/
/*        margin-top: 10px;*/
/*        border: 2px solid black;*/
/*      }*/

.boxed {
    max-height: 450px;
    min-height: 400px;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 80px;
    border: 0.1px solid #eee;
}

#chatbox {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-top: 10%;
}

#userInput {
    display: flex;
    padding: 0.4%;
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
    width: 49.2%;
    margin-top: auto;
    margin-bottom: 10px;
}

/*#bg{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    top: 0px;*/
/*    left: 0px;*/
/*    position: absolute;*/
/*}*/
#textInput {
    border: 1px solid #ccc;
    padding: 3px 10px 2px;
    border-radius: 20px;
    width: 89%;
    font-family: monospace;
    font-size: 15px;
}

#buttonInput {
    margin-left: 1%;
    font-weight: bold;
    padding: 3px;
    font-family: monospace;
    font-size: 15px;
}

.QLinks{
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: #565656;
    font-family: Metropolis,"Avenir Next","Helvetica Neue",Arial,sans-serif;

}
/*用户回复文本*/
.userText {
    color: white;
    font-family: monospace;
    font-size: 15px;
    width: 60%;
    margin-left: 38%;
    text-align: left;
    background-color: #808080;
    line-height: 22px;
    padding: 8px;
    border-radius: 4px;
}

/*助手回复文本*/
.botText {
    color: black;
    font-family: monospace;
    font-size: 15px;
    width: 90%;
    text-align: left;
    line-height: 22px;
    background-color: #d9e8fd;
    border: 1px solid #bcd9fc;
    padding: 8px;
    border-radius: 4px;
}


#tidbit {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
}